.list_class {
    margin-bottom: 10px;
    font-family:monospace;
    font-size: 20px;
}
.button_class{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.header_class{
    margin-top: 50px;
    /* margin-bottom: 50px; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subheader_class{
    margin-top: 20px;
    font-family:monospace;
}
.txt_class{
    margin-top: 20px;
    font-family:monospace;
    font-size: 20px;
}