<div fxLayout="column" fxLayoutAlign="center center">
  <h1 class="header_class"> B-H Daily Meeting</h1>
  <app-canvas-clock></app-canvas-clock>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-fab color="primary" (click)="go()" class="button_class">GO!!!</button>
    <button mat-fab color="primary" (click)="show16Min()" class="button_class">:)</button>
    <button mat-fab color="primary" (click)="showStats()" class="button_class">:(</button>
    <button mat-fab color="primary" (click)="away()" class="button_class">AWAY!!!</button>

  </div>
  <ol #tpl>
    <li *ngFor="let a of shuffledTeammates; let index = index" class="list_class">
      <input value={{a}} type="checkbox" (change)="changeStatus($event)" />
      <div (click)="onClick(a, index)" style="display: inline">{{a}}</div>
    </li>
  </ol>

  <div *ngIf="show16">
    <div>
      <h2 class="subheader_class">***** 16th min ==== party times *****</h2>
    </div>
    <div class="txt_class">{{ partyList }}</div>
  </div>
</div>

<div *ngIf="showChart" class="chart-wrapper">
  <h1 align="center" style="color:#673ab7">just for fun, all data do have bias/juste pour le plaisir, toutes les données
    ont
    un biais</h1>
  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColors"
    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
  </canvas>
</div>